###

#Niko Additions
[Bb]uilds/
Artbreed.mp4
StationGlitch.fbx
Oil Rigs.blend
Steampunk.blend
Steampunk.blend1
TheSet.blend
TheSet.blend1
studioloCommercial.mp4
film equipment.blend
film equipment.blend1
basePano.blend
basePano.blend1
paintBrush.blend
paintBrush.blend1
Trash05.blend
Trash05.blend1
Trash07.blend
Trash07.blend1
FABRICATION_VR.mp4
Menuzone.blend1
Menuzone.blend



# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db